/* line 9, ../sass/_custom-base.scss */
h1 {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  font-size: 40px;
  font-weight: 500;
  color: #1b3d6e;
  text-transform: uppercase;
  padding-bottom: 1em; }

/* line 19, ../sass/_custom-base.scss */
h2, h3 {
  font-family: 'Roboto Slab', serif;
  color: #1b3d6e;
  font-size: 18px;
  font-weight: 700; }

/* line 26, ../sass/_custom-base.scss */
h4 {
  line-height: 1.5em;
  font-size: 1.3em; }

/* line 31, ../sass/_custom-base.scss */
p {
  font-family: 'Roboto', sans-serif;
  color: #1b3d6e;
  font-size: 15px;
  line-height: 1.5em;
  font-weight: 400 !important; }

/* line 39, ../sass/_custom-base.scss */
ul:not(.nav) li, ol:not(.nav) li {
  line-height: 1.5em;
  margin-bottom: .25em; }

/* line 44, ../sass/_custom-base.scss */
canvas {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -10; }
@media (max-width: 768px) {
  /* line 44, ../sass/_custom-base.scss */
  canvas {
    display: none; } }

/* line 56, ../sass/_custom-base.scss */
body {
  font: 400 15px 'Roboto', sans-serif;
  color: #1b3d6e;
  padding-top: 15em;
  min-height: 100vh; }
@media (max-width: 768px) {
  /* line 56, ../sass/_custom-base.scss */
  body {
    padding-top: 60px; } }

/* line 66, ../sass/_custom-base.scss */
#myHome {
  width: 100vw;
  height: 100vh;
  border-style: solid;
  border-width: 0.8em;
  border-color: #1b3d6e; }
/* line 73, ../sass/_custom-base.scss */
#myHome .btn {
  font-size: 17px;
  margin-top: 2em;
  font-weight: 500;
  padding-left: 0;
  padding-right: 0;
  min-width: 148px; }
/* line 82, ../sass/_custom-base.scss */
#myHome h1 {
  margin-top: 1.25em;
  margin-bottom: 0; }
/* line 87, ../sass/_custom-base.scss */
#myHome h3 {
  margin-top: 0em; }

/* line 93, ../sass/_custom-base.scss */
.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  -khtml-user-select: none;
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
  	/* Non-prefixed version, currently
                                    supported by Chrome and Opera */ }

/* line 109, ../sass/_custom-base.scss */
.btn {
  color: #d5d5d5;
  border-radius: 0;
  background-color: #1b3d6e;
  padding-left: 0;
  padding-right: 0;
  text-transform: uppercase; }
/* line 118, ../sass/_custom-base.scss */
.btn :hover {
  color: white; }
/* line 122, ../sass/_custom-base.scss */
.btn span {
  padding: 0.6em; }

/* line 127, ../sass/_custom-base.scss */
.nav-tabs li a {
  color: #777; }

/* line 131, ../sass/_custom-base.scss */
.navbar {
  font-family: Montserrat, sans-serif;
  margin-bottom: 0;
  background-color: #1b3d6e;
  border: 0;
  font-size: 11px !important;
  letter-spacing: 4px;
  opacity: 1; }

/* line 141, ../sass/_custom-base.scss */
.navbar .navbar-brand, .navbar li a {
  color: #d5d5d5 !important; }

/* line 146, ../sass/_custom-base.scss */
.navbar .navbar-brand:hover, .navbar li a {
  color: white !important; }

/* line 151, ../sass/_custom-base.scss */
.navbar-nav li a {
  color: #d5d5d5 !important; }

/* line 155, ../sass/_custom-base.scss */
.navbar-nav li a:hover {
  color: #fff !important; }

/* line 159, ../sass/_custom-base.scss */
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #29292c !important; }

/* line 164, ../sass/_custom-base.scss */
.navbar-default .navbar-toggle {
  border-color: transparent; }

/* line 168, ../sass/_custom-base.scss */
.bg-1 {
  background: #1b3d6e;
  color: white; }
/* line 172, ../sass/_custom-base.scss */
.bg-1 h1 {
  color: #fff; }

/* line 177, ../sass/_custom-base.scss */
.bg-2 {
  padding-left: 5em; }
@media (max-width: 768px) {
  /* line 177, ../sass/_custom-base.scss */
  .bg-2 {
    padding-left: 15px; } }

/* line 184, ../sass/_custom-base.scss */
.bg-2-right {
  padding-right: 5em; }
@media (max-width: 768px) {
  /* line 184, ../sass/_custom-base.scss */
  .bg-2-right {
    padding-right: 15px; } }

/* line 191, ../sass/_custom-base.scss */
.bg-3 {
  background: #1b3d6e;
  color: white;
  padding: 6em 0; }
/* line 195, ../sass/_custom-base.scss */
.bg-3 .thumbnail {
  color: #1b3d6e; }
/* line 199, ../sass/_custom-base.scss */
.bg-3 h1 {
  color: #fff;
  padding-bottom: 0.5em; }
/* line 205, ../sass/_custom-base.scss */
.bg-3 p {
  padding-bottom: 1em; }

/* line 210, ../sass/_custom-base.scss */
.thumbnail {
  padding: 30px 50px;
  border: none;
  border-radius: 0; }

/* line 216, ../sass/_custom-base.scss */
.thumbnail p {
  margin-top: 15px;
  color: #1b3d6e; }

/* line 221, ../sass/_custom-base.scss */
.eqWrap {
  display: flex; }

/* line 226, ../sass/_custom-base.scss */
#title div {
  padding: 5px; }
/* line 230, ../sass/_custom-base.scss */
#title img {
  padding-top: 0em;
  margin: 0 auto;
  display: block;
  width: 300px; }
/* line 237, ../sass/_custom-base.scss */
#title i {
  font-size: 5px;
  position: relative;
  bottom: 4px;
  padding: 0 3px 0 6px; }

/* line 246, ../sass/_custom-base.scss */
#about img {
  width: 600px;
  margin: auto;
  text-align: center;
  padding: 4em;
	padding-bottom: 1em;
  opacity: 0.80; }
/* line 253, ../sass/_custom-base.scss */
#about img:last-of-type {
  padding-bottom: 5em; }
/* line 257, ../sass/_custom-base.scss */
#about > div {
  margin-bottom: 15em; }

/* line 263, ../sass/_custom-base.scss */
#students > div {
  margin-bottom: 15em; }

/* line 269, ../sass/_custom-base.scss */
#contact > div {
  margin-bottom: 15em; }

/* line 279, ../sass/_custom-base.scss */
footer {
  position: relative;
  bottom: 0;
  background-color: #e5e5e5;
  color: black;
  padding: 5em 0; }
/* line 283, ../sass/_custom-base.scss */
footer p {
  margin: 0;
  font-size: 15px;
  font-weight: 900;
  color: black;
  font-weight: 900 !important; }
/* line 294, ../sass/_custom-base.scss */
footer i {
  padding-right: 3px; }
/* line 299, ../sass/_custom-base.scss */
footer #buttons > div:first-child {
  margin-top: 8px;
  margin-bottom: 10px; }
/* line 305, ../sass/_custom-base.scss */
footer .btn {
  text-align: right;
  padding-right: 0;
  padding-left: 0;
  border-width: 0;
  background-color: black; }
/* line 312, ../sass/_custom-base.scss */
footer .btn span {
  padding: 8px;
  font-weight: 900 !important; }
/* line 318, ../sass/_custom-base.scss */
footer .col-sm-6 {
  padding: 0; }
/* line 323, ../sass/_custom-base.scss */
footer #contacts div {
  padding: 1em 0; }
/* line 327, ../sass/_custom-base.scss */
footer #contacts i {
  padding: 5px; }
/* line 332, ../sass/_custom-base.scss */
footer #copyright {
  padding-top: 4em; }
@media (max-width: 768px) {
  /* line 279, ../sass/_custom-base.scss */
  footer {
    padding: 2em 0; }
  /* line 338, ../sass/_custom-base.scss */
  footer .btn, footer a, footer p {
    text-align: center; } }

/* line 347, ../sass/_custom-base.scss */
section {
  margin-bottom: 4em; }

/* line 9, ../sass/_custom-jin.scss */
#myHome .btn:hover {
  background-color: #2a5fab; }

/* line 14, ../sass/_custom-jin.scss */
a.btn {
  -moz-transition: all, 0.25s;
  -o-transition: all, 0.25s;
  -webkit-transition: all, 0.25s;
  transition: all, 0.25s; }
/* line 17, ../sass/_custom-jin.scss */
a.btn:hover {
  color: #FFF;
  background-color: #2a5fab; }
/* line 22, ../sass/_custom-jin.scss */
a.btn:visited {
  color: #d5d5d5; }

/* line 32, ../sass/_custom-jin.scss */
.navbar a::first-letter {
  padding-left: 4px; }

/* line 37, ../sass/_custom-jin.scss */
.navbar-nav li.active a {
  color: #fff !important;
  background-color: #2a5fab !important; }

/* line 44, ../sass/_custom-jin.scss */
.special p {
  font-size: 1.5em; }
/* line 48, ../sass/_custom-jin.scss */
.special .btn {
  margin-top: 2em;
  font-size: 1.25em; }

/* line 55, ../sass/_custom-jin.scss */
#contact #signup .btn {
  margin-top: 1.1em; }
